
<div class = "container">
  <h1>TO-DO Apploication</h1>
<form id="submitForm" #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
  <div class="form-group">
    <hr>
    <input type="text" class="form-control" id="task" placeholder="Enter task" name="task" [(ngModel)]="newTask" required>
    <small *ngIf="taskForm.invalid && taskForm.dirty"
    id="errormessage" class="form-text text-danger">Required Field.</small>
  </div>

  <!--Validate the Submit button-->
  <button [disabled]="!taskForm.valid"
   id = "submitButton" type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Completed</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
      <th scope="col">Save</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskArray">
      <td>
      <input [class]="{'edit': task.iseditable, 'not-edit': !task.iseditable, 'crossed': task.isCompleted}" type="text" class="form-control" id="task" value="{{ task.task }}" [readonly]="!task.iseditable">
      </td>
      <td><input id = "myCheckbox" type="checkbox" [checked]="task.isCompleted" (change)="toggleTask(task)"></td>

      <td><button id="delete" class = "btn btn-danger btn-small" (click)="deleteTask(task)">Delete</button></td>
      <td><button id="edit" class = "btn btn-primary btn-small" (click)="editTask(task)">Edit</button></td>
      <td><button id="save" class = "btn btn-warning btn-small" (click)="saveTask(task)">Save</button></td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
</div>

