h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
}

#submitButton{
    margin-top: 20px;
}

#myCheckbox{
    margin-left: 30px;
}

#submitForm{
    margin-top: 40px;
}

#delete{
    width:70px;
}

#edit{
    width:60px;
}

#save{
    width:60px;
}

.edit {
    border: 2px solid #cb1111e6;
}

.non-edit {
    border: none;
}

.crossed {
    text-decoration: line-through
}

#myCheckbox{
    border:none;
}